error_log stderr;

worker_processes ##WORKER_PROCESSES##;

load_module modules/ngx_http_js_module.so;
load_module modules/ngx_rtmp_module.so;

events {
    worker_connections ##WORKER_CONNECTIONS##;
}

rtmp {
    access_log ##RTMP_ACCESS_LOG##;   
    include /usr/local/nginx/conf/vhost/rtmp/*;
}

http {
    sendfile ##HTTP_SENDFILE##;
    tcp_nopush ##HTTP_TCP_NOPUSH##;
    tcp_nodelay ##HTTP_TCP_NODELAY##;
    include /usr/local/nginx/conf/vhost/www/*;
    access_log ##HTTP_ACCESS_LOG##; 
}

daemon off;
