<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Restreamer-Edge">
    <meta name="author" content="datarhei">
    <title>Restreamer-Edge</title>
    <script type="text/javascript" src="clappr-master/dist/clappr.min.js"></script>
    <script type="text/javascript" src="clappr-level-selector-plugin-master/dist/level-selector.min.js"></script>
    <style>
        .player-poster[data-poster] .poster-background[data-poster] {
            height: initial !important;
        }
    </style>
</head>
<body style="background-color:#000">
    <div id="player" style="position:absolute;top:0;right:0;bottom:0;left:0"></div>
    <script>
        var streamName = getParam("stream");
        function getParam(value) {
            var query = window.location.search.substring(1);
            var vars = query.split("&");
            for (var i=0;i<vars.length;i++) {
                var pair = vars[i].split("=");
                if (pair[0] == value) {
                    return pair[1];
                }
            }
        }
        var player = new Clappr.Player({
            source: "//" + window.location.hostname + (window.location.port ? ':' + window.location.port : '')  + "/hls/" + streamName + ".m3u8",
            parentId: "#player",
            mediacontrol: {seekbar: "#3daa48", buttons: "#3daa48"},
            poster: "images/" + streamName + ".jpg",
            height: "100%",
            width: "100%",
            plugins: {
                'core': [LevelSelector]
            },
            levelSelectorConfig: {
                title: 'Quality',
                labels: {
                    ##FFMPEG_PROFILE##
                }
            }
        });
    </script>
</body>
</html>
